* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parrafo-carousel {
    align-items: center;
    padding-bottom: 15;
}

.color-footer {
    background-color: black;
    bottom: 0;
    width: 100%;
}

/* CONTACTO */
.contacto {
    background-color: rgb(76, 72, 72);
    color: rgb(118, 192, 170);
}