* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parrafo-carousel {
    align-items: center;
    padding-bottom: 15;
}

.color-footer {
    background-color: black;
    bottom: 0;
    width: 100%;
}

/* INFO */
.titulo-1 {
    border-bottom: 1px solid #a2a9b1;
    font-family: 'Georgia', 'Times', serif;
}

.titulo-2 {
    border-bottom: 1px solid #a2a9b1;
    font-family: 'Georgia', 'Times', serif;
}

@media(max-width:613px) {
    section img {
        max-width: 300px;
        max-height: 400px;
    }
}