* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-footer {
    background-color: black;
    bottom: 0;
    width: 100%;
}

/* INDEX */
.parrafo-carousel {
    align-items: center;
    padding-bottom: 15;
}

/* TIPOS DE INSTRUMENTOS */
.tituloTiposInstrumentos {
    font-family: sans-serif;
}

@media(max-width:426px) {
    .contenido-carta {
        flex-direction: column;
        align-items: center;

    }

}